.landing-page{
    background: $background;
    color: black;
}

nav{
    min-height: 10vh;
    width: 100%;
    padding: 0 50px;
    @include flex(row, space-between, center);
}

#logo{
    font-size: 4rem;
    flex: 1;
}

.nav-links{
    @include flex(row, space-between, center);
    flex: 1;
    li{
        list-style: none;
        a{
            text-decoration: none;
            color: black;
            font-size: 1.6rem;
        }
    }
}

.nav-left{
    flex: 1;
    @include flex(row, flex-end, center);
    .cart{
        padding: 10px 25px;
        background: $background;
        color: black;
        border: none;
        font-size: 1.6rem;
    }
}
/*End of navigation styling*/

.content{
    min-height: 90vh;
    width: 100%;
    padding: 100px 200px;
    @include flex(column, space-between, flex-end);
    position: relative;
    .plant{
        position: absolute;
        bottom: 10vh;
        left: 15%;
        height: 80vh;
        width: auto;
        pointer-events: none;
    }
    .shadow{
        width: 150px;
        height: 10px;
        position: absolute;
        bottom: 10vh;
        left: 25%;
        background: rgba(0,0,0,0.25);
        filter: blur(10px);
    }
    h1{
        margin-right: 30%;
        font-family: 'Montserrat', sans-serif;
        font-size: 16rem;
        position: relative;
        span{
            position: absolute;
            top: -40%;
            color: $highlight;
        }
    }
}

.product{
    height: 400px;
    width: 400px;
    @include flex(row, space-between,center);
    .product-content{
        height: 100%;
        width: 100%;
        @include flex(column, center, flex-start);
        h4{
            margin: 50px 0;
        }
        .details{
            padding: 10px 25px;
            background: $background;
            color: black;
            border: 2px solid black;
            transition: all 0.3s ease;
            &:hover{
                border: 2px solid $highlight;
                cursor: pointer;
            }
        }
    }
}

@media screen and(max-width: 1450px){
    .content{
        min-height: 90vh;
        width: 100%;
        padding: 100px 100px;
        @include flex(column, space-between, flex-end);
        position: relative;
        .plant{
            left: 5%;
        }
        .shadow{
            left: 20%;
        }
    }
}

@media screen and(max-width: 1024px){
    .content{
        min-height: 90vh;
        width: 100%;
        padding: 100px 50px;
        @include flex(column, center, flex-end);
        .plant{
            position: absolute;
            bottom: 20vh;
            left: -30%;
            height: 80vh;
            width: auto;
            pointer-events: none;

            animation: upDown 5s ease-in-out  infinite alternate-reverse;
        }
        .shadow{
            bottom: 10vh;
            left: 0%;

            animation: shadow 5s ease-in-out 0.2s infinite alternate-reverse;

        }
        h1{
            margin-right: 10%;
        }
    }
}

@keyframes upDown{
    from{
        transform: translateY(0%);
    }
    to{
        transform: translateY(5%);
    }
}

@keyframes shadow{
    from{
        transform: translateX(0%);
        scale: 1;
    }
    to{
        transform: translateX(10%);
        scale: 2;
    }
}