.landing-page{
    background: $highlight;
    color: black;
}

nav{
    min-height: 10vh;
    width: 100%;
    padding: 0 50px;
    @include flex(row, space-between, center);
}

#logo{
    font-size: 4rem;
    flex: 1;
}

.nav-links{
    @include flex(row, space-between, center);
    flex: 1;
    li{
        list-style: none;
        a{
            text-decoration: none;
            color: black;
            font-size: 1.6rem;
        }
    }
}

.nav-left{
    flex: 1;
    @include flex(row, flex-end, center);
    .cart{
        padding: 10px 25px;
        background: $background;
        color: black;
        border: none;
        font-size: 1.6rem;
    }
}
/*End of navigation styling*/

.content{
    min-height: 90vh;
    width: 100%;
    padding: 100px 200px;
    @include flex(column, space-between, flex-end);
    position: relative;
    .plant{
        position: absolute;
        bottom: 0;
        left: 0;
        height: auto;
        width: 50vw;
        pointer-events: none;
    }
}

.headline{
    font-family: 'Montserrat', sans-serif;
    font-size: 16rem;
    position: relative;
    align-self: center;
    span{
        position: absolute;
        top: -40%;
        color: $highlight;
    }
}

.product{
    min-height: 400px;
    width: 500px;
    @include flex(row, space-between,center);
    .product-content{
        height: 100%;
        width: 100%;
        @include flex(column, center, flex-start);
        h4{
            margin: 50px 0;
        }
    }
}

.details{
    padding: 10px 25px;
    background: $highlight;
    color: $white;
    border: 2px solid $white;
    transition: all 0.3s ease;
    &:hover{
        background-color: $white;
        color: $highlight;
        cursor: pointer;
    }
}

/*Add styling to the cursor*/
.cursor{
    width: 50px;
    height: 50px;
    pointer-events: none;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background: rgba(255,255,255, 0.25);
    backdrop-filter: blur(10px);
    @include flex(row, center, center);
}

.cursor-active{
    width: 75px;
    height: 75px;
    background: $highlight;
    border:3px solid $highlight;
}

.cursor-text{
    font-size: 2rem;
    color: black;
}

/*iPad Pro styling*/
@media screen and(max-width: 1024px){
    .content{
        padding: 100px 100px;
        @include flex(column, flex-start, center);
        .plant{
            width: 80vw;
            z-index: 1;
        }
        .product{
            background: $background;
            z-index: 100;
        }
    }
}

/*iPad styling*/
@media screen and(max-width: 768px){
    html{
        font-size: 52%;
    }
    .content{
        padding: 100px 100px;
        @include flex(column, flex-start, center);
        .plant{
            width: 70vw;
            left: 0%;
            transform: translateX(-20%);
            z-index: 1;
        }
        .product{
            background: none;
            z-index: 100;
        }
    }
}

/*iPhone 6/7/8 Plus styling*/
@media screen and(max-width: 414px){
    .content{
        padding: 25px;
        @include flex(column, center, center);
        .plant{
            display: none;
        }
    }

    .headline{
            font-size: 8rem;
        }

    .product{
        width: 360px;
        @include flex(column, space-between,center);
        img{
            flex: 1;
            height: 100px;
            width: auto;
        }
        .product-content{
            flex: 2;
            width: 100%;
            @include flex(column, center, center);
            h4{
                margin: 25px 0;
            }
        }
    }
}



