/*variables*/
/*Flex mixin*/
/*Imports*/
/*Boiler Plate CSS*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.3;
}

.landing-page {
  background: #e3e1e3;
  color: black;
}

nav {
  min-height: 10vh;
  width: 100%;
  padding: 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#logo {
  font-size: 4rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.nav-links li {
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
  color: black;
  font-size: 1.6rem;
}

.nav-left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-left .cart {
  padding: 10px 25px;
  background: #e3e1e3;
  color: black;
  border: none;
  font-size: 1.6rem;
}

/*End of navigation styling*/
.content {
  min-height: 90vh;
  width: 100%;
  padding: 100px 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}

.content .plant {
  position: absolute;
  bottom: 10vh;
  left: 15%;
  height: 80vh;
  width: auto;
  pointer-events: none;
}

.content .shadow {
  width: 150px;
  height: 10px;
  position: absolute;
  bottom: 10vh;
  left: 25%;
  background: rgba(0, 0, 0, 0.25);
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

.content h1 {
  margin-right: 30%;
  font-family: 'Montserrat', sans-serif;
  font-size: 16rem;
  position: relative;
}

.content h1 span {
  position: absolute;
  top: -40%;
  color: #c6d1c0;
}

.product {
  height: 400px;
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product .product-content {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.product .product-content h4 {
  margin: 50px 0;
}

.product .product-content .details {
  padding: 10px 25px;
  background: #e3e1e3;
  color: black;
  border: 2px solid black;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.product .product-content .details:hover {
  border: 2px solid #c6d1c0;
  cursor: pointer;
}

@media screen and (max-width: 1450px) {
  .content {
    min-height: 90vh;
    width: 100%;
    padding: 100px 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    position: relative;
  }
  .content .plant {
    left: 5%;
  }
  .content .shadow {
    left: 20%;
  }
}

@media screen and (max-width: 1024px) {
  .content {
    min-height: 90vh;
    width: 100%;
    padding: 100px 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .content .plant {
    position: absolute;
    bottom: 20vh;
    left: -30%;
    height: 80vh;
    width: auto;
    pointer-events: none;
    animation: upDown 5s ease-in-out  infinite alternate-reverse;
  }
  .content .shadow {
    bottom: 10vh;
    left: 0%;
    animation: shadow 5s ease-in-out 0.2s infinite alternate-reverse;
  }
  .content h1 {
    margin-right: 10%;
  }
}

@-webkit-keyframes upDown {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
  }
}

@keyframes upDown {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
  }
}

@-webkit-keyframes shadow {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    scale: 1;
  }
  to {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
    scale: 2;
  }
}

@keyframes shadow {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    scale: 1;
  }
  to {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
    scale: 2;
  }
}
/*# sourceMappingURL=style.css.map */