/*variables*/
$background: rgb(227, 225, 227);
$highlight: rgb(198, 209, 192);
$white: #fafafa;
$font: 'Montserrat';

/*Flex mixin*/
@mixin flex($direction, $justify, $align){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}


/*Imports*/
@import 'global';
@import 'navigation';