/*variables*/
/*Flex mixin*/
/*Imports*/
/*Boiler Plate CSS*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.3;
}

.landing-page {
  background: #e3e1e3;
  color: black;
}

nav {
  min-height: 10vh;
  width: 100%;
  padding: 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#logo {
  font-size: 4rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.nav-links li {
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
  color: black;
  font-size: 1.6rem;
}

.nav-left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-left .cart {
  padding: 10px 25px;
  background: #e3e1e3;
  color: black;
  border: none;
  font-size: 1.6rem;
}

/*End of navigation styling*/
.content {
  min-height: 90vh;
  width: 100%;
  padding: 100px 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}

.content .plant {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: auto;
}

.content h1 {
  margin-right: 30%;
  font-family: 'Montserrat', sans-serif;
  font-size: 16rem;
  position: relative;
}

.content h1 span {
  position: absolute;
  top: -40%;
}

.product {
  height: 400px;
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product .product-content {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.product .product-content h4 {
  margin: 50px 0;
}

.product .product-content .details {
  padding: 10px 25px;
  background: #c6d1c0;
  color: black;
  border: 2px solid #c6d1c0;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.product .product-content .details:hover {
  background: #c6d1c0;
  color: #fafafa;
}
/*# sourceMappingURL=style.css.map */